@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
    $white: #fff;
    $black: #222;
    $pink: #f60091;
    $grey: #444;
    $grey2: #959595;
    $grey-alt: #ecf0f1;
    $yellow: #ffd800;
    $green: #59b210;
    $midblue :#2980b9;
    $darkblue : #2c3e50;
    $tomato:#e74c3c;
    $turquoise:#16a085;
    .tomato{
        color: #e74c3c;
    }
    .darkblue{
        color: $darkblue;
    }